<div class="aboutMe">
  <h1>About me</h1>
  I have been developing Unity games and other C# applications for the past 3 years. Now, after graduating MakerSquare, I'm starting my career as a Software Engineer.
</div>
<div class="projectsContainer">
  <h1>Projects</h1>
  <div ng-repeat="project in projects">
    <div ng-class="project.title" class="project" ng-style="{'background-color': '#{{project.colorKey}}'}">
      <div>
        <h1>{{project.title}}</h1>
        <p>{{project.description}}</p>
        <div class="projectLinks" ng-repeat="link in project.links">
          <a ng-href="{{link.url}}" target="_blank">{{link.text}}</a>
        </div>
      </div>
      <div>
        <img ng-src="images/{{project.thumbnail}}">
      </div>
    </div>
  </div>
</div>
